# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn v2+ (Berry) specific
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Optional: if you don't use the zero-installs approach
# Uncomment the following line to ignore the cache
# .yarn/cache

# Optimization file (safely ignored)
.yarn/install-state.gz

# Editor/OS files
.DS_Store
.idea
.vscode
